<div class="form-row">
    <div class="form-item-column">
        <label>Center Number</label>
        <% if (newCenter && canEditCenter) { %> 
            <input type="number" name="cntrNum" value="<%= center.center_no %>" autocomplete="off" min="1" max="19" step="1">
        <% } else { %>
            <input type="number" name="cntrNum" value="<%= center.center_no %>" disabled>
        <% } %>
        <input style="text-transform: uppercase" type="text" name="hiddenCenterNum" value="<%= center.center_no %>" hidden>
        <input style="text-transform: uppercase" type="text" name="hiddenCenter" value="<%= center.center %>" hidden>
        <input style="text-transform: uppercase" type="text" name="hiddenPOCode" value="<%= poCode %>" hidden>
        <input style="text-transform: uppercase" type="text" name="newCenter" value="<%= newCenter %>" hidden>
        <input style="text-transform: uppercase" type="text" name="canEditCenter" value="<%= canEditCenter %>" hidden>
    </div>
    <div class="form-item-column">
        <label>Loan Type</label>
        <select name="cntrLoan" id="cntrLon" >
            <% lonType.forEach(lnTyp => { %>
                <% if (lnTyp.title === center.loan_type) { %>
                   <option selected value="<%= lnTyp.title %>"> <%= lnTyp.title %></option>
                <% } else { %>
                    <option value="<%= lnTyp.title %>"> <%= lnTyp.title %></option>
                <%  } %>
            <% }) %> 
        </select>
    </div>
    <div class="form-item-column">
        <input type="hidden" id="centerCode" name="center_Code" value="<%= center.center %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item-column">
        <label>Address</label>
        <input style="text-transform: uppercase" type="text" name="centerAdd" value="<%= centerAdd %>" autocomplete="off">
    </div>
    <div class="form-item-column">
        <label>Status</label>
        <select name="centerStat" id="centerStat" >
            <% centerStatus.forEach(centerStat => { %>
                <% if (centerStat === center.status) { %>
                   <option selected value="<%= centerStat %>"> <%= centerStat %></option>
                <% } else { %>
                    <option value="<%= centerStat %>"> <%= centerStat %></option>
                <%  } %>
            <% }) %> 
        </select>
    </div>
    <div class="form-item-column">
        <input type="hidden" id="brnCode" name="branCode" value="<%= center.center %>">
    </div>
</div>
