
<h2 class="page-header">SET NEW PO's Entry - <%= uniCod %> </h2>
<form action='/units/postNewPOs/<%= uniCod %>' method="POST">
            <%- include('../partials/errorMessage') %>    
            <%- include('_set_POs_form_fields') %>
<div class="btn-row">
    <div></div>
    <div></div>
        <button class="btn btn-primary" type="submit">Create</button>
        <a class="btn btn-primary" href='/units/pos/<%= uniCod %>'>Cancel</a>
</div>
</form>