<header> 
<nav class="header-nav">
    <% if (yuser.name) { %>
        <div class="header-nav header-title"> 
           Budget Module 
        </div> 

        <div>
            <div class="header-nav header-nav-user"> 
                <p>Hi <%= yuser.name %>, <%= yuser.assCode %></p>
                <a class="logout" href="/logout">Logout</a>
            </div>
            <ul>
                <%if (yuser.role === "PO") { %>
                    <li class="header-nav header-link"> <a href="/">Home</a></li>
                    <li class="header-nav header-link"> <a href="/centers/viewTarget/<%= yuser.assCode %>">Set Targets</a></li>
                    <li class="header-nav header-link"> <a href="/centers/viewTargetsMonthly/<%=yuser.assCode %>" >Monthly View</a></li>
                <% } %>
                <%if (yuser.role === "PUH") { %>
                    <li class="header-nav header-link"> <a href="/units/<%= yuser.assCode %>">Home</a></li>
                    <li class="header-nav header-link"> <a href="/units/<%= yuser.assCode %>">Budgets</a></li>
                    <li class="header-nav header-link"> <a href="/units/pos/<%= yuser.assCode %>">PO's</a></li>
                <% } %>
                <%if (yuser.role === "ADMIN") { %>
                    <li class="header-nav header-link"> <a href="/admins/register">Register User</a></li>
                    <li class="header-nav header-link"><a href="/admins/users">Users</a></li>
                    <li class="header-nav header-link"> <a href="/">Home</a></li>
                <% } %>

            </ul>
        </div>
    <% } %>
</nav>
</header>

