<section class="s1">
    <div class="main-container">
       <h4> AREA OPERATIONS MAINTENANCE</h4>
        <table class="content-table">
            <tr>
                <% if (fondAreas.length > 0) { %>
                <% } else { %>
                    <a class="btn btn-primary" href='/regions/setNewRegions'>SET NEW AREAS</a>
                <% } %>

            </tr>
            <tr>
                <th> AREA CODE</th>
                <th> AREA DESCRIPTION</th>
                <th> LINKS</th>
            </tr>
            <% fondAreas.forEach(regArea => { %>
                <tr>
                    <td><%= regArea.areaCode %> </td>
                    <td><%= regArea.areaDesc %> </td>
                    <td>
                        <div class="btn-row">
                            <a class="btn btn-primary" href="/regions/getAreaForEdit/<%= regionCode + regArea.id %>/edit">Edit</a>
                            <!-- <%- include('../partials/deleteForm', { url: `/regions/deleteArea/${regionCode + regArea.id}` }) %> -->
                        </div>        
                    </td>
                </tr>
            <% }) %> 
        </table>
        <div>
            <a class="btn btn-primary" href="/regions/newArea/<%= regionCode %>">ADD NEW AREA</a>
            <a class="btn btn-primary" href="/regions/<%= regionCode %>">DONE</a>
        </div>
    </div>
</section>

