    <section class="s1">
		<div class="main-container">
            <h3> Budget Breakdown per CENTER  </h3>
            <table class="content-table">
                <tr>
                <h5> Reminder:</h5>
                <p>Please SET Center Beginning Balances first before Setting the Targets.</p> 
                </tr>
                <tr>
                    <% if (yuser.role === "PO") { %>
                        <div>
                            <a class="btn btn-primary" href="/centers/setBegBals/<%= poCode %>">SET Center Beginning Balances</a>
                        </div>
                    <% } %>
                </tr>
                <tr>
                    <th> CENTERS</th>
                    <th> NEW CLIENT</th>
                    <th> NEW CLIENT AMT</th>
                    <th> OLD CLIENT</th>
                    <th> OLD CLIENT AMT</th>
                    <th> RESIGN</th>
                    <th> LINKS</th>
                    
                </tr>
                <% centers.forEach(center => { %>
                    <tr>
                        <td><%= center.center%> </td>
                        <% if (center.newClient > 0) { %>
                            <td><%= center.newClient.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')%> </td>
                        <% } else { %>
                            <td style=>-</td>
                        <% } %>
                        <% if (center.newClientAmt > 0) { %>
                            <td><%= center.newClientAmt.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')%> </td>
                        <% } else { %>
                            <td>-</td>
                        <% } %>
                        <% if (center.oldClient > 0) { %>
                            <td><%= center.oldClient.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')%> </td>
                        <% } else { %>
                            <td>-</td>
                        <% } %>
                        <% if (center.oldClientAmt > 0) { %>
                            <td><%= center.oldClientAmt.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')%> </td>
                        <% } else { %>
                            <td>-</td>
                        <% } %>
                        <% if ((center.resClient + center.resClient2) > 0) { %>
                            <td><%= center.resClient + center.resClient2%> </td>
                            <% } else { %>
                            <td>-</td>
                        <% } %>
                        <td>
                            <div class="btn-row">
                                <!-- <a class="btn btn-primary" href="/centers/<%= center.center %>/edit">Target</a> -->
                                <a class="btn btn-primary" href="/centers/<%= center.center %>/edit">Set Target</a>
                                <a class="btn btn-primary" href="/centers/setBegBal/<%= center.center %>">Beg Bal</a>
                            </div>        
                        </td>
                    </tr>
                <% }) %> 
            </table>
        </div>
    </section>
