
    <div class="box" id="heading">
        <h5> SET BEGINNING BALANCES FOR CENTER : <%= listTitle %> </h5>
      </div>
              <table>
                  <tr>
                      <th></th>
                      <th>LOAN TYPE</th>
                      <th>BEG. CLIENTS COUNT</th>
                      <th></th>
                      <TH>BEG. AMOUNT</TH>
                  </tr>
                  <% newListItems.forEach(function(item) { %>
                      <form  action="/centers/delBegBal" method="post">
                          <tr>
                              <td>
                                  <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
                              </td>
                              <td>
                                  <p><%= item.loan_type %></p>
                              </td>
                              <td>
                                  <p><%= item.begBalClientCnt %></p>
                              </td>
                              <td>
                                  
                              </td>
                              <td>
                                  <p><%= item.begBalAmt %></p>
                              </td>
                      </tr>
                      <input type="hidden" name="listName" value="<%= listTitle %>"> </input>
                  </form>
                  <% }) %>
                  <tr class="form-item-target">
                      <form action="/centers/putBegBal/<%= listTitle %>?_method=PUT" method="POST">
                      <td>New:</td>
                      <td>
                          <select name="loanType" id="loanType">
                              <% loanType.forEach(function(loan_type, index) { %>
                                      <option label="<%= loan_type.title %>" value="<%= loan_type.title  %>"></option>
                              <% }) %>
                          </select>            
                      </td>
                      <td>
                          <input type="text" name="numClient" placeholder="Number of Clients" autocomplete="off">
                      </td>
                      <td></td>
                      <td>
                          <input type="text" class="begBalAmt" name="begBalAmt" placeholder="Loan Amount" autocomplete="off">
                      </td>
                      <td>
                          <button type="submit" name="list" value=<%= listTitle %>>+</button>
                        </td>
                      <td class="btn-row">
                              <a class="btn btn-primary" href="/centers/center/<%= unitID %>">Done</a>
  
                          </td>
                      </form>
                  </tr>
              </table>
  