
<div class="form-row">
    <div class="form-item-column">
        <label>Branch Code</label>
        <% if (canEditBranchCode) { %>
            <input style="text-transform: uppercase" type="text" id="branch" name="branchCode" value="<%= branch.branch %>" minlength="3" maxlength="3" autocomplete="off">
        <% } else { %>
            <input style="text-transform: uppercase" type="text" name="branchCode" value="<%= branch.branch %>" maxlength="3" disabled>
        <% } %>
    </div>
    <div class="form-item-column">
        
        <label>Branch Description</label>
        <% if (editBranch) { %>
            <input style="text-transform: uppercase" type="text" name="branchDesc" value="<%= branch.branch_desc %>" autocomplete="off">
        <% } else { %>
            <input style="text-transform: uppercase" type="text" name="branchDesc" value="<%= branch.branch_desc %>" disabled>
        <% } %>
    </div>
    <div class="form-item-column">
        <input style="text-transform: uppercase" type="text" name="branchCodeHide" value="<%= branch.branch %>" maxlength="3" hidden>
        <input style="text-transform: uppercase" type="text" name="canEditBranchCode" value="<%= canEditBranchCode %>" hidden>    
    
    </div>

</div>

<div class="form-row">
    <div class="form-item-column">
        <label>Address</label>
        <% if (editBranch) { %>
            <input type="text" enable name="branchAdd" id="branchAdd" value="<%= branch.address %>">
        <% } else { %>
            <input type="text" enable name="branchAdd" id="branchAdd" value="<%= branch.address %>" disabled>
        <% } %>
    </div>
    <div class="form-item-column">
        <label>Status</label>
        <% if (editBranch) { %>
            <select enable name="brnStat" id="brnStat" > 
        <% } else { %>
            <select disabled name="brnStat" id="brnStat"> 
        <% } %>
        <% brnStatus.forEach(brnStat => { %>
                <% if (brnStat === branch.status) { %>
                    <option selected value="<%= brnStat %>"> <%= brnStat %></option>
                <% } else { %>
                    <option value="<%= brnStat %>"> <%= brnStat %></option>
                <% } %>
            <% }) %>
        </select>

    </div>
    <div class="form-item-column">
    
    </div>
</div>

<div class="form-row">
</div>

<div class="form-row">
    <div class="form-item-column">
        Branch Category
        <div>
            <% if (branch.branch_category === "MEGA") { %>
                <input type="radio" name="branch_category" id="Mega" value="MEGA" checked>
            <% } else { %>
                <input type="radio" name="branch_category" id="Mega" value="MEGA">
            <% } %>
            <label for="Mega">Mega Branch</label>
            <br>
            <% if (branch.branch_category === "FULL") { %>
                <input type="radio" name="branch_category" id="inHouse" value="FULL" checked>
            <% } else { %>
                <input type="radio" name="branch_category" id="inHouse" value="FULL">
            <% } %>
            <label for="Full">Full Branch</label>
            <br>
            <% if (branch.branch_category === "STANDALONEUNIT") { %>
                <input type="radio" name="branch_category" id="standAloneUnit" value="STANDALONEUNIT" checked>
            <% } else { %>
                <input type="radio" name="branch_category" id="standAloneUnit" value="STANDALONEUNIT">
            <% } %>
                <label for="standAloneUnit">Stand Alone Unit</label>
        </div>
    </div>
    
</div>

<div class="form-row">
    <div class="form-item-columnUSER">
    </div>
</div>
<div class="form-row">
    <div class="form-item-columnUSER">
    </div>
</div>
    
<div class="form-row">
    <% if (newBranch || resetPW || editBranch) { %> 
        <div class="form-item-columnUSER">
            <label>System's User Name</label>
            <% if (newBranch || editBranch) { %> 
                <input type="email" id="email" name="email" value="<%= user.email %>" onclick="setBranchEmailUser()" autocomplete="off">
            <% } else { %>
                <input type="email" name="email" value="<%= user.email %>" autocomplete="off" disabled>
                <input type="user_id" name="user_id" value="<%= user.id %>" autocomplete="off" hidden>
            <% } %>
        </div>
        <div class="form-item-columnUSER">
            <label>Password</label>
            <input type="password" name="password" value="<%= user.password %>">
        </div>
    <% } %>
    <div class="form-item-column">
    </div>
</div>


