<div class="form-row">
    <div class="form-item-column">
        <label>Branch Code</label>
        <input type="text" name="branchCode" value="<%= branch.branch %>" autocomplete="off">
    </div>
    <div class="form-item-column">
        <label>Branch Description</label>
        <input type="text" name="branchDesc" value="<%= branch.branch_desc %>" autocomplete="off">
    </div>
    <div class="form-item-column">
    
    </div>

</div>

<div class="form-row">
    <div class="form-item-column">
        <label>Address</label>
        <input type="text" enable name="branchAdd" id="branchAdd" value="<%= branch.address %>">
    </div>
    <div class="form-item-column">
        <label>Status</label>
            <select name="brnStat" id="brnStat" >
                <% brnStatus.forEach(brnStat => { %>
                    <% if (brnStat === branch.status) { %>
                       <option selected value="<%= brnStat %>"> <%= brnStat %></option>
                    <% } else { %>
                        <option value="<%= brnStat %>"> <%= brnStat %></option>
                    <% } %>
                <% }) %>
            </select>
    </div>
    <div class="form-item-column">
    
    </div>
</div>
