<section class="s1">
    <div class="main-container">
       <h4> AREA BM MAINTENANCE</h4>
        <table class="content-table">
            <tr>
                <th> NAME</th>
                <th> ASSIGNED BRANCH</th>
                <th> LINKS</th>
            </tr>
            <% fndEmploy.forEach(brnEmployee => { %>
                <tr>
                    <td><%= brnEmployee.empName %> </td>
                    <td><%= brnEmployee.empPost %> </td>
                    <td>
                        <div class="btn-row">
                            <a class="btn btn-primary" href="/areas/getEmpForEdit/<%= areaCode + brnEmployee.empCode %>/edit">Edit</a>
                            <a class="btn btn-primary" href="#">Employee Movement</a>
                            <!-- <%- include('../partials/deleteForm', { url: `/areas/deleteEmp/${areaCode+brnEmployee.empID}` }) %> -->
                        </div>        
                    </td>
                </tr>
            <% }) %> 
        </table>
        <div>
            <a class="btn btn-primary" href="/areas/newEmployee/<%= areaCode %>">ADD NEW BRANCH MANAGER</a>
            <a class="btn btn-primary" href="/areas/<%= areaCode %>">DONE</a>
        </div>
    </div>
</section>

