<h2 class="page-header">New Branch Entry - <%= areaCode %></h2>
<form action="/areas/postNewBranch/<%= areaCode %>" method="POST">
            <%- include('../partials/errorMessage') %>    
            <%- include('_branch_form_fields') %>
<div class="form-row">
    <div class="form-item-column"></div>
    <div class="form-item-column">
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
    <div class="form-item-column">
        <a class="btn btn-primary" href="/areas/branches/<%= areaCode %>">Cancel</a>
    </div>
    <div class="form-item-column"></div>
</div>
</form>
