<div class="form-row">
    <div class="form-item-column">
        <label>Employee Code</label>
        <% if (resetPW) { %>
            <input type="text" name="empCode" value="<%= emp.emp_code %>" autocomplete="off" required disabled>
        <% } else { %>
            <input style="text-transform: uppercase" type="text" name="empCode" value="<%= emp.emp_code %>" required autocomplete="off">
        <% } %>
        <input type="text" name="HideEmpCode" value="<%= emp.emp_code %>" hidden>
    </div>
    <div class="form-item-column">
        <label>Branch Code</label>
        <% if (resetPW) { %>
            <input type="text" id="brn1Code" name="brn1Code" value="<%= emp.branch %>" disabled>
        <% } else { %>
            <input type="text" id="brn1Code" name="brn1Code" value="<%= emp.branch %>" disabled>
        <% } %>
            <!-- <input style="text-transform: uppercase" type="text" id="brnCode" name="brn1Code" value="<%= emp.branch %>" required> -->
            <input type="text" id="brnCode" name="brnCode" value="<%= emp.branch %>" hidden>
    </div>
    <div class="form-item-column">
        <label>Status</label>
        <% if (resetPW) { %>
        <% } else { %>
            <select name="empStat" id="empStat" >
                <% empStatus.forEach(empStat => { %>
                    <% if (empStat === emp.status) { %>
                       <option value="<%= empStat %>"> <%= empStat %> </option>
                    <% } else { %>
                        <option value="<%= empStat %>"> <%= empStat %></option>
                    <%  } %>
                <% }) %> 
            </select>
            <% } %>
    </div>
</div>
<div class="form-row">
    <div class="form-item-column">
        <label>Last Name</label>
        <% if (resetPW) { %>
            <input type="text" name="lName" value="<%= emp.last_name %>" autocomplete="off" disabled>
        <% } else { %>
            <input style="text-transform: uppercase" type="text" name="lName" value="<%= emp.last_name %>" autocomplete="off"  required>
        <% } %>
    </div>
    <div class="form-item-column">
        <label>First Name</label>
        <% if (resetPW) { %>
            <input type="text" name="fName" value="<%= emp.first_name %>" autocomplete="off" disabled>
        <% } else { %>
            <input style="text-transform: uppercase" type="text" name="fName" value="<%= emp.first_name %>" autocomplete="off" required>
        <% } %>
    </div>
    <div class="form-item-column">
        <label>Middle Name</label>
        <% if (resetPW) { %>
            <input type="text" name="mName" value="<%= emp.middle_name %>" autocomplete="off" disabled>
        <% } else { %>
            <input style="text-transform: uppercase" type="text" name="mName" value="<%= emp.middle_name %>" autocomplete="off" required>
        <% } %>
    </div>
</div>
<div class="form-row">
    <div class="form-item-column">
        <label>Position</label>
        <% if (!resetPW) { %>
            <select id="ayApo" name="ayPost" onmouseleave="hideUnitPoInputs()">
            <% posit.forEach(positio => { %>
                <% if ( positio.id == emp.position_code ) { %>
                   <option selected value="<%= positio.id %>" label="<%= positio.title %>"> </option>
                <% } else { %>
                    <option value="<%= positio.id %>" label="<%= positio.title %>"> </option>
                <%  } %>
            <% }) %> 
            </select>
        <% } else { %>
            <input type="text" name="ayPost" value="<%= posit %>" autocomplete="off" disabled>
        <% } %>
    </div>
    <div class="form-item-column">
        <label>Assignment</label>
        <% if (!resetPW) { %>
            <select id="ayApo" name="ayPost" onmouseleave="hideUnitPoInputs()">
            <% posit.forEach(positio => { %>
                <% if ( positio.id == emp.position_code ) { %>
                   <option selected value="<%= positio.id %>" label="<%= positio.title %>"> </option>
                <% } else { %>
                    <option value="<%= positio.id %>" label="<%= positio.title %>"> </option>
                <%  } %>
            <% }) %> 
            </select>
        <% } else { %>
            <input type="text" name="ayPost" value="<%= posit %>" autocomplete="off" disabled>
        <% } %>
    </div>
    <div class="form-item-column">
    </div>
    <input type="text" name="HideAssCode" value="<%= emp.assign_code %>" hidden>
</div>

<div class="form-row">
    <div class="form-item-column">
        POSITION CLASSIFICATION
        <div>
            <% if (emp.position_class === "FULL") { %>
                <input type="radio" name="position_class" id="fullPledge" value="FULL" checked>
            <% } else { %>
                <input type="radio" name="position_class" id="fullPledge" value="FULL">
            <% } %>
            <label for="fullPledge">Full - Pledge</label>
            <br>
            <% if (emp.position_class === "ACTING") { %>
                <input type="radio" name="position_class" id="actingCap" value="ACTING" checked>
            <% } else { %>
                <input type="radio" name="position_class" id="actingCap" value="ACTING">
            <% } %>
            <label for="actingCap">Acting Capacity</label>
            <br>
            <% if (emp.position_class === "OIC") { %>
                <input type="radio" name="position_class" id="oic" value="OIC" checked>
            <% } else { %>
                <input type="radio" name="position_class" id="oic" value="OIC">
            <% } %>
                <label for="oic">Office In-charge</label>
        </div>
    </div>
    
</div>

<div>
    <p></p>
</div>
<div>
    <hr>
</div>
<div>
<p></p>
</div>
