<section class="s1">
    <div class="main-container">
       <h4> BRANCH UNITS MAINTENANCE</h4>
        <table class="content-table">
            <tr>
            </tr>
            <tr>
                <th> UNIT</th>
                <th> UNIT HEAD</th>
                <th> LOAN PRODUCT</th>
                <th> OFFICE LOCATION</th>
                <th> USERNAME</th>
                <th> LINKS</th>
            </tr>
            <% fondUnits.forEach(brnUnit => { %>
                <tr>
                    <td><%= brnUnit.unitUnit %> </td>
                    <td><%= brnUnit.empName %> </td>
                    <td><%= brnUnit.unitLoanProd %> </td>
                    <td><%= brnUnit.unitOffLoc %> </td>
                    <td>
                        <div class="btn-row">
                            <a class="btn btn-primary" href="/branches/getUnitForEdit/<%= brnUnit.unitCode %>/edit">Edit</a>
                            <!-- <%- include('../partials/deleteForm', { url: `/branches/deleteUnit/${brnUnit.id}` }) %> -->
                        </div>        
                    </td>
                    <td>
                        <div class="btn-row">
                            <a class="btn btn-primary" href="/branches/getEmpEditPass/<%= brnUnit.unitCode %>/edit">Reset Password</a>
                            <!-- <%- include('../partials/deleteForm', { url: `/branches/deleteUnit/${brnUnit.id}` }) %> -->
                        </div>        
                    </td>
                </tr>
                <tr>

                </tr> 
            <% }) %> 
        </table>
        <table>
            <tr>
                <td></td>
                <td> 
                    <a class="btn btn-primary" href="/branches/newUnit/<%= branchCode %>">ADD NEW UNIT</a>
                </td>
                <td></td>
                <td>
                    <a class="btn btn-primary" href="/branches/<%= branchCode %>">DONE</a>            
                </td>
            </tr>

        </table>
    </div>
</section>

