<div class="form-row">
    <div class="form-item-column">
        <label>Employee Number</label>
        <% if (resetPW) { %>
            <input type="text" name="empCode" value="<%= emp.emp_code %>" autocomplete="off" required disabled>
        <% } else { %>
            <input type="text" name="empCode" value="<%= emp.emp_code %>" autocomplete="off" required>
        <% } %>
        <input type="text" name="HideEmpCode" value="<%= emp.emp_code %>" hidden>
    </div>
    <div class="form-item-column">
        <label>Status</label>
        <% if (resetPW) { %>
        <% } else { %>
            <select name="empStat" id="empStat" >
                <% empStatus.forEach(empStat => { %>
                    <% if (empStat === emp.status) { %>
                       <option selected value="<%= empStat %>"> <%= empStat %></option>
                    <% } else { %>
                        <option value="<%= empStat %>"> <%= empStat %></option>
                    <%  } %>
                <% }) %> 
            </select>
            <% } %>
    </div>
    <div class="form-item-column">
    </div>
</div>
<div class="form-row">
    <div class="form-item-column">
        <label>Last Name</label>
        <% if (resetPW) { %>
            <input type="text" name="lName" value="<%= emp.last_name %>" autocomplete="off" disabled>
        <% } else { %>
            <input type="text" name="lName" value="<%= emp.last_name %>" autocomplete="off"  required>
        <% } %>
    </div>
    <div class="form-item-column">
        <label>First Name</label>
        <% if (resetPW) { %>
            <input type="text" name="fName" value="<%= emp.first_name %>" autocomplete="off" disabled>
        <% } else { %>
            <input type="text" name="fName" value="<%= emp.first_name %>" autocomplete="off" required>
        <% } %>
    </div>
    <div class="form-item-column">
        <label>Middle Name</label>
        <% if (resetPW) { %>
            <input type="text" name="mName" value="<%= emp.middle_name %>" autocomplete="off" disabled>
        <% } else { %>
            <input type="text" name="mName" value="<%= emp.middle_name %>" autocomplete="off" required>
        <% } %>
    </div>
</div>
<div class="form-row">
    <div class="form-item-column">
        <label>Region Assignment</label>
        <% if (!resetPW) { %>
            <select id="region" name="region">
            <% foundRegion.forEach(fndRegion => { %>
                <% if ( fndRegion.region == emp.assign_code) { %>
                   <option selected value="<%= fndRegion.region %>" label="<%= fndRegion.region_desc %>"> </option>
                <% } else { %>
                    <option value="<%= fndRegion.region %>" label="<%= fndRegion.region_desc %>"> </option>
                <%  } %>
            <% }) %> 
            </select>
        <% } else { %>
            <input type="text" name="region" value="<%= region %>" autocomplete="off" disabled>
        <% } %>
        <input type="text" name="HideRegionAss" value="<%= emp.assign_code %>" hidden>
    </div>
    <div class="form-item-column">
    </div>
</div>
<div>
    <p></p>
</div>
