    <section class="s1">
		<div class="main-container">
            <h3> Budget Breakdown per CENTER  </h3>
            <div>

            </div>
            <div></div>
                <h5> Reminder:</h5>
                <p>Please SET Center Beginning Balances first before Setting the Targets.</p> 
                        <% if (yuser.role === "PO") { %>
                            <div>
                                <a class="btn btn-primary" href="/centers/setBegBals/<%= poCode %>">SET Center Beginning Balances</a>
                            </div>
                        <% } %>        
            <table class="content-table">
                <tr>
                    <th> CENTERS </th>
                    <th> BEG. BAL.</th>
                    <th> NEW CLIENT</th>
                    <th> RE-LOAN CLIENT</th>
                    <th> RESIGN</th>
                    <th> END BAL.</th>
                    <th> NEW LOAN AMT</th>
                    <th> RE-LOAN AMT</th>
                    <th> TOTAL DISB.</th>
                    <th> LINKS</th>
                    
                </tr>
                <% centers.forEach(center => { %>
                    <tr>
                        <td><%= center.center%> </td>
                        <% if (center.budget_BegBalCli > 0) { %>
                            <td><%= center.budget_BegBalCli.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')%> </td>
                        <% } else { %>
                            <td>-</td>
                        <% } %>
                        <% if (center.newClient > 0) { %>
                            <td><%= center.newClient.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')%> </td>
                        <% } else { %>
                            <td style=>-</td>
                        <% } %>
                        <% if (center.oldClient > 0) { %>
                            <td><%= center.oldClient.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')%> </td>
                        <% } else { %>
                            <td>-</td>
                        <% } %>
                        <% if ((center.resClient + center.resClient2) > 0) { %>
                            <td><%= center.resClient + center.resClient2%> </td>
                            <% } else { %>
                            <td>-</td>
                        <% } %>
                        <% if (center.endBalanceCli > 0) { %>
                            <td><%= center.endBalanceCli%> </td>
                            <% } else { %>
                            <td>-</td>
                        <% } %>
                        <% if (center.newClientAmt > 0) { %>
                            <td><%= center.newClientAmt.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')%> </td>
                        <% } else { %>
                            <td>-</td>
                        <% } %>
                        <% if (center.oldClientAmt > 0) { %>
                            <td><%= center.oldClientAmt.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')%> </td>
                        <% } else { %>
                            <td>-</td>
                        <% } %>
                        <% if (center.totDisbAmt > 0) { %>
                            <td><%= center.totDisbAmt.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')%> </td>
                        <% } else { %>
                            <td>-</td>
                        <% } %>
                        <% if (center.center !== "TOTAL") { %>
                            <td>
                                <div class="btn-row">
                                    <!-- <a class="btn btn-primary" href="/centers/<%= center.center %>/edit">Target</a> -->
                                    <a class="btn btn-primary" href="/centers/<%= center.center %>/edit"> <%= budget_Mode === "OPEN" ? "Set Target" : "View Target" %> </a>
                                    <a class="btn btn-primary" href="/centers/setBegBal/<%= center.center %>">Beg Bal</a>
                                </div>        
                            </td>
                        <% } %>
                    </tr>
                <% }) %> 
            </table>
        </div>
        <div>
            <p></p>
        </div>
        <% if (yuser.role === "PO") { %>
            <div>
                <h5>
                    <a font-size: 20px class="btn btn-primary" href="/centers/reCalculatePOCenters/<%= poCode %>">Recalculate Center Balances</a>
                </h5>
            </div>
        <% } %>

        <div class="popup-overlay active" id="popup-message">
            <div class="popup-box-container">
                <div class="check-container">
                    <i class="fas fa-exclamation-circle"></i>
                </div>
                <% if (viewStat === "target_mode") { %>
                    <div class="popup-message-container">
                        <h2>REMINDER!</h2>
                        <p>Please SET the Beginning Balances first before setting the Targets.</p>
                    </div>
                <% } else { %>
                    <div class="popup-message-container">
                        <h2>CONFIRMATION</h2>
                        <p>Recalculate Centers' figures DONE.</p>
                    </div>                    
                <% } %>
        
                <button class="ok-btn" onclick="onClickOkay()"> 
                    <!-- <a class="btn" onclick="onClickOkay()">Okay</a> -->
                    <span>Okay</span>
                </button>
            </div>

        </div>
    </section>
