
<div class="box" id="heading">
    <h3> <%= officerName %> </h3>
    <h4> <%= listTitle %> </h4>
</div>

<table>
    <tr>
        <th>PO NO.</th>
        <th>PROGRAM OFFICER</th>
        <th>New Client</th>
        <th>New Client Amt</th>
        <th>Old Client</th>
        <th>Old Client Amt</th>
        <th>Resigned</th>
    </tr>
<% POs.forEach(po => { %>
        <tr class="form-item-target">
            <form  action="/centers/delete" method="post">
                <td>
            <%= po.po_num%> 
            </td>
            <td>
                <%= po.po_name%> 
            </td>
            <td>
                <%= po.newClient.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')%>
            </td>
            <td>
                <%= po.newClientAmt.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')%>
            </td>
            <td>
                <%= po.oldClient.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')%>
            </td>
            <td>
                <%= po.oldClientAmt.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')%>
            </td>
            <td>
                <%= po.resClient%>
            </td>
            <td>
                <a class="btn btn-primary" href="/centers/<%= listTitle %>">View</a>
            </td>
        </form>
    </tr>
<% }) %> 

</table>