<div class="form-row">
    <div class="form-item-column">
        <label>Budget Year</label>
        <% if (resetPW) { %>
            <input type="text" name="budgYear" value="<%= budgetYear %>" autocomplete="off" required disabled>
        <% } else { %>
            <input type="text" name="budgYear" value="<%= budgetYear %>" autocomplete="off">
        <% } %>
    </div>
    <div class="form-item-column">
        <label>Budget Status</label>
        <% if (resetPW) { %>
            <input type="text" name="budgStatus" value="<%= budgetStatus %>" autocomplete="off" required disabled>
        <% } else { %>
            <input type="text" name="budgStatus" value="<%= budgetStatus %>" autocomplete="off">
        <% } %>
    </div>
    <div class="form-item-column">
    </div>
</div>
<div class="form-row">
    <div class="form-item-column">
        <label>Budget Period START</label>
        <% if (resetPW) { %>
            <input type="text" name="lName" value="<%= emp.last_name %>" autocomplete="off" disabled>
        <% } else { %>
            <input type="text" name="lName" value="<%= emp.last_name %>" autocomplete="off"  required>
        <% } %>
    </div>
    <div class="form-item-column">
        <label>Budget Period END</label>
        <% if (resetPW) { %>
            <input type="text" name="fName" value="<%= emp.first_name %>" autocomplete="off" disabled>
        <% } else { %>
            <input type="text" name="fName" value="<%= emp.first_name %>" autocomplete="off" required>
        <% } %>
    </div>
    <div class="form-item-column">
    </div>
</div>
<div class="form-row">

</div>
<div>
    <p></p>
</div>
